* {
  font-family: "Poppins", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}
.positivus {
  margin: 10px 20px !important;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-items a {
  text-decoration: none;
  margin-right: 20px;
  color: var(--Black, #000);
}

.btn {
  border: 1px solid #000;
  padding: 13px 17px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
/* Second Navbar Example */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo {
  display: flex;
} */
.nav-items ul {
  display: inline-flex;
  list-style-type: none;
  /* justify-content: center;
  gap: 10px;
  position: relative; */
  /* flex: 0 0 auto; */
}

.nav-items li a {
  text-decoration: none;
}

/* Hero */
.hero {
  display: flex;
  margin: 35px 20px;
  column-gap: 50px;
  align-items: center;
  /* flex-direction: row; */
}
.hero-text h2 {
  /* width: 265.5px; */
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 2px;
}
.hero-text p {
  letter-spacing: normal;
  line-height: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.hero-text button {
  background-color: var(--Black, #000);
  color: #fff;
  padding: 17px 35px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 200;
}
.partners {
  margin: 0 20px;
}
.partners img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  justify-content: space-between;
  margin-right: 50px;
}
.services {
  margin: 35px 20px;
}
.services-header {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}
.services-header h3 {
  background-color: var(--green);
  max-width: fit-content;
}
.services-header p {
  max-width: 50%;
  font-size: 15px;
}
.services-cards {
  /* width: 1366px;
  height: 768px; */

  display: grid;
  grid:
    "seo ppcads" 1fr
    "smm emm" 1fr
    "content-creation analytics-tracking" 1fr
    / 1fr 1fr;
  gap: 8px;
}

.seo {
  grid-area: seo;
}
.ppcads {
  grid-area: ppcads;
}
.smm {
  grid-area: smm;
}
.emm {
  grid-area: emm;
}
.content-creation {
  grid-area: content-creation;
}
.analytics-tracking {
  grid-area: analytics-tracking;
}

.seo {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 2em 0;
  justify-content: space-around;
  background-color: var(--grey);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  /* border-bottom-style: solid 5px #000;
  border-bottom: -5px solid #000; */
  /* width: 500px; */
}
.seo .seo-card-text h4 {
  background: var(--Green, #b9ff66);
  padding: 5px;
  display: inline;
  line-height: 45px;
  font-size: 30px;
  /* max-width: 50%; */
  /* word-spacing: 5px; */
}
/*h4 span {
   word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: pre-line;
}
h4 span::after {
  content: "\A";
  white-space: pre;
}*/
.fa-arrow-circle-right {
  transform: rotate(-45deg);
}
